@model CarMvc.Models.Car
@{
}

<h1>Dane samochodu o numerze rejestracyjnym @Model.RegistrationNumber to:</h1>
<p>Model - @Model.Model</p>
<p>Producent - @Model.Producer</p>
<p>Pojemność silnika - @Model.Capacity</p>
<p>Moc silnika - @Model.Power</p>
<p>Rodzaj silnika - @Model.Motor</p>
<p>Numery rejestracyjne - @Model.RegistrationNumber</p>
@if (Model.Owner is not null)
{
    <p>Właściciel - @Model.Owner.Name</p>
}
<p>Priorytet - @Model.Priority</p>


<a class="btn btn-primary" asp-controller="Car" asp-action="Index" role="button">Powrót do Listy Samochodów</a>